<!doctype html>
<html><head>
<link rel="stylesheet" href="file://<%== Inf7::Conf.doc %>/style.css">
<% if name %><title><%= name %></title><% end %></head>
<body>
<% if head %><h1><%= head %></h1><% end %>
<% if text %>
<div>
<%== text %>
</div>
<% end %>
</body></html>