<div class="index-navbar" style="font-family: sans-serif; font-weight: bold; font-size: 1.33rem; margin-bottom: 1rem;">
<a style="padding-right: .75rem;" href="file://<%== Inf7::Conf.doc %>/index.html">Docs</a>
<a style="padding-right: .75rem;" href="file://<%== Inf7::Conf.doc %>/index.html#general-index">General Index</a>
</div>
