<div class="index-navbar hidden">
<a id="docs" href="file://<%== Inf7::Conf.doc %>/index.html">Docs</a>
<a id="general_index" href="file://<%== Inf7::Conf.doc %>/index.html#general-index">General Index</a>
</div>
