<!doctype html>
<meta charset="utf-8"><html lang="en"><head><title>Inform 7</title><link rel="stylesheet" href="style.css"><script src="chapter.js"></script></head><body>
<nav><%== Inf7::Template[:index_truncated].render %></nav>
<main>
<%== Inf7::Template['_table'].render(volumes: volumes, link_format: :chapter) %>
<h2 id="general-index" class="title">General Index</h2>
<%== index %>
</main></body></html>

